sections/facility-assembly/**/*.blend filter=lfs diff=lfs merge=lfs -text
sections/facility-assembly/**/*.png filter=lfs diff=lfs merge=lfs -text
sections/facility-assembly/**/*.jpg filter=lfs diff=lfs merge=lfs -text
sections/condenser-bay/**/*.blend filter=lfs diff=lfs merge=lfs -text
sections/condenser-bay/**/*.png filter=lfs diff=lfs merge=lfs -text
sections/condenser-bay/**/*.jpg filter=lfs diff=lfs merge=lfs -text
