/unity/[Ll]ibrary/
/unity/[Tt]emp/
/unity/[Oo]bj/
/unity/[Ll]ogs/
/unity/[Uu]ser[Ss]ettings/
/unity/[Mm]emoryCaptures/
/unity/[Rr]ecordings/
/unity/.vs/
/unity/.idea/
/unity/*.csproj
/unity/*.sln
/unity/*.slnx
/unity/*.user
/out/
/tools/__pycache__/
*.ulf
*.alf
/tools/**/bin/
/tools/**/obj/
/tools/**/__pycache__/
